@media screen and (orientation: landscape) {
    html {
      /* Rotate the content container */
      transform: rotate(-90deg);
      transform-origin: left top;
      /* Set content width to viewport height */
      width: 100vh;
      /* Set content height to viewport width */
      height: 100vw;
      overflow-x: hidden;
      top: 100%;
      left: 0;
    }
  }

html,body {
    margin: 0;
    padding: 0;
    position: relative;
}

p{
    margin: 0.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

.objectOutlines{
    border: 3px green solid;
}

.tiles{
    border: 1px rgba(0, 0, 0, 0.211)  solid;
}

.labelObjects{
    color: green;
}
#visionLabel{
    position: absolute;
    right:0px;
    bottom: 0px;
    background-color: white;
    font-size: 1rem;
    padding: 0.3rem 3rem;
    z-index: 1;
    margin:0px;
}

#videoElement{
    opacity: 0;
    position: absolute;
    top:0px;
}

#container{
   position: relative;
}