
html,body {
    padding: 0;
    position: relative;
    background-color: black;
}
body{
    margin: 5px;
}

#explanation{
    position: absolute;
    left:0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 10000;
    text-align: center;
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}
#explanationText{
    padding: 2rem;
    font-size: 1.5rem;
    color: white;
    margin: auto;
}

#start_button{
    font-size: 2rem;
    padding: 1rem;
    color:black;
    margin: 6rem;
    margin-bottom: 7.5rem;
}

p{
    margin: 0.2rem;
    font-family: "Inconsolata", monospace;
    font-size: 0.8em;
    vertical-align: top;
    text-align: left;
}

.objectOutlines{
    border: 3px rgb(0, 255, 0) solid;
    z-index: 2;
}

.tiles{
    outline: 1px rgb(0, 0, 0)  solid;
    
    z-index: 9999;
}


.labelObjects{
    color: rgb(0, 255, 0);
}
#visionLabel{
    background-color: white;
    font-size: 1rem;
    padding: 0.3rem 3rem;
    z-index: 2;
    margin:0px;
    align-self: left;
    min-height: 2rem;
    text-align: right;
}

#videoElement{
    opacity: 0;
    position: absolute;
    top:0px;
}

#container{
   position: relative;
   z-index: 1;
}

h2{
    color: white;
    text-align: center;
    font-family: "Inconsolata", monospace;
    font-weight: 700;
}